html, body{
  width: 100%;
  height: 100%;
  background-color: #fff!important;
  overflow-x: hidden!important;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.coder-icon{
  min-width:50px;
  max-width:70px;
  margin:4px;
}

@media (max-width: 768px){
  .fixed-button{
    position:fixed!important;
    bottom: 20px;
    margin-left: 77%!important;
    z-index: 99;
  }
}

