html, body{
  width: 100%;
  height: 100%;
  background-color: #fff!important;
  overflow-x: hidden!important;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(material-icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.coder-icon{
  min-width:50px;
  max-width:70px;
  margin:4px;
}

@media (max-width: 768px){
  .fixed-button{
    position:fixed!important;
    bottom: 20px;
    margin-left: 77%!important;
    z-index: 99;
  }
}

