<fieldset ng-controller="TaskController">
  <h2>Dashboard</h2>
  <br>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="md-form">
          <label for="taskDescription">New Task Description</label>
          <input id="taskDescription" type="text" class="form-control"
            name="description" ng-model="newTask.description">
        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-info-outline waves-effect btn-rounded" ng-click="addTask()">
        Add Task
      </button>
    <div class="row padding-top">
      <div class="col-md-6 col-xs-12">
        <div class="md-form">
          <label for="search">Search Task</label>
          <input id="search" ng-model="search"
            class="form-control" type="text" name="search" autocomplete="off">
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th class="text-md-center text-xs-center">Tools</th>
          </tr>
        </thead>
        <tbody class="text-md-center text-xs-center">
          <tr ng-repeat="task in tasks | filter:search | orderBy:task.id">
            <td>{{task.id}}</td>
              <td ng-show="task.active != 'true'">{{task.description}}</td>
              <td class="animate-show" ng-show="task.active == 'true'">
                <div class="md-form">
                  <label for="taskDescriptionUpdate">{{task.description}}</label>
                  <input id="taskDescriptionUpdate" type="text" class="form-control"
                    name="descriptionUpdate" ng-model="saveTask.description">
                </div>
              </td>
            <td>
              <button ng-show="task.active != 'true'" ng-click="taskActive(task,'true')" class="btn btn-info-outline waves-effect btn-rounded">Update</button>
              <button ng-show="task.active == 'true'" ng-click="saveTask(task)" class="btn btn-info-outline waves-effect btn-rounded">Save</button>
              <button ng-show="task.active == 'true'"  ng-click="taskActive(task,'false')" class="btn btn-info-outline waves-effect btn-rounded">Cancel</button>
              <button ng-click="clearTask(task)" class="btn btn-info-outline waves-effect btn-rounded">Clear</button>
              <button ng-click="removeTask(task)" class="btn btn-info-outline waves-effect btn-rounded">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
