<section>
<hr>
<!--   <div class="row text-center">
    <a href="http://renanlopes.com"><img class="img-responsive" src="img/horizontal-logo.png"></a>
  </div>
 -->  <div class="row">
      <div class="row">
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 text-md-left text-lg-left">
        <div class="card container-fluid">

          <div class="card-block">
            <h2>Project</h2>
            <h4>Project Personal Task App is free and open-source code developed with AngularJS for content manipulation, mapping views, interaction with the user in a very simple app to organize your tasks.</h4>

            <h4>User interface using Material Design for Bootstrap (Creative Tim and MDB).</h4>

        </div>
        <div class="row">
          <br>
        </div>
      </div>
  </div>
</div>

  <div class="row">
      <div class="row">
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 text-md-left text-lg-left">
        <div class="card container-fluid">

          <div class="card-block">
          
          <h2><a href="http://renanlopes.com"><img class="img-responsive" src="img/horizontal-logo.png"></a></h2>
          <h4>Web Developer</h4>
          <h6>Back-End: PHP / Java</h6>
          <h6>Front-End: AngularJS / Bootstrap / Material Design</h6>
          <p>E-mail: renanlopescoder@gmail.com<br>
            website: <a href="http://renanlopes.com">renanlopes.com</a></p>

        <div class="text-center col-xs-12 col-sm-12 col-md-offset-6 col-md-6 col-lg-offset-6 col-lg-6">
          <a href="https://github.com/renanlopescoder" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2s" src="img/logotypes/github.png"></a>

          <a href="https://plus.google.com/117472796522557819956" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2.25s" src="img/logotypes/google-plus.png"></a>


          <a href="http://renanslopes8.com.br" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2.50s" src="img/logotypes/wordpress.png"></a>

          <a href="https://www.linkedin.com/in/renan-lopes-9a0390101" target="_blank"><img class="coder-icon wow bounceInDown" data-wow-duration="2.75s" src="img/logotypes/linkedin.png"></a>
        </div>

        </div>
      </div>
        <div class="row">
          <br>
        </div>
  </div>
  </div>
</section>