<section ng-controller="TaskController">
  <hr>

  <span class="position-button">
    <button class="btn btn-primary btn-just-icon fixed-button hidden-md hidden-sm hidden-lg" data-toggle="modal" data-target="#newTaskModal">
      <i class="material-icons">add</i>
    </button>
  </span>

  <!-- Modal Core -->
  <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h5 class="modal-title" id="myModalLabel">New Task</h5>
        </div>
        <div class="modal-body">
          <div class="md-form input-group">
            <span class="input-group-addon">
              <i class="material-icons">turned_in</i>
            </span>
            <input id="taskTitle" type="text" class="form-control"
            name="title" ng-model="newTask.title" placeholder="Task Title">
          </div>
          <div class="md-form input-group">
            <span class="input-group-addon">
              <i class="material-icons">subject</i>
            </span>
            <input id="taskDescription" type="text" class="form-control"
            name="description" ng-model="newTask.description" placeholder="Task Description">
          </div>   
          <hr>
          <div class="text-right">
            <button data-dismiss="modal" class="btn btn-warning btn-just-icon"><i class="material-icons">not_interested</i></button>
            <button ng-click="addTask()" data-dismiss="modal" class="btn btn-success btn-just-icon"><i class="material-icons">playlist_add</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-top">
    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-6">
      <div class="md-form input-group">
        <span class="input-group-addon">
          <i class="material-icons">search</i>
        </span>
        <input id="search" ng-model="search"
        class="form-control" type="text" name="search" autocomplete="off" placeholder="Search Task">
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="task in tasks |  filter:search | orderBy:task.id" ng-if="task.progress == 'pending'">
      <div class="row hidden-sm hidden-md hidden-lg">
        <br>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--Card-->
        <div class="card container-fluid">

          <!--Card content-->
          <div class="card-block">
            <!--Title-->

            <label ng-show="task.active == 'true'"><br>Task Title</label>
            <h4 class="card-title" ng-hide="task.active == 'true'">{{task.title}}</h4>
            <div class="animate-show md-form" ng-show="task.active == 'true'">
              <input id="taskDescriptionUpdate" class="" type="text"
              name="titleUpdate" ng-model="saveTask.title" value="{{task.title}}">
            </div>
            <!--Text-->
            <p ng-hide="task.active == 'true'">{{task.description}}</p>
            <label class="input-group" ng-show="task.active == 'true'">Task Description</label>
            <div class="animate-show md-form" ng-show="task.active == 'true'">
              <textarea id="taskDescriptionUpdate" class="md-textarea" type="text"
              name="descriptionUpdate" ng-model="saveTask.description">{{task.description}}</textarea>
            </div>

            <br>
            
            <button title="Delete" class="btn btn-danger btn-just-icon" ng-click="removeTask(task)">
              <i class="material-icons">delete</i>
            </button>
            
            <button title="Edit" class="btn btn-primary btn-just-icon" ng-show="task.active != 'true'" ng-click="taskActive(task,'true')">
              <i class="material-icons">mode_edit</i>
            </button>
            
            <button title="Cancel" ng-show="task.active == 'true'"  ng-click="taskActive(task,'false')" class="btn btn-warning btn-just-icon"><i class="material-icons">not_interested</i></button>
            
            <button title="Save" ng-show="task.active == 'true'" ng-click="saveTask(task)" class="btn btn-primary btn-just-icon"><i class="material-icons">save</i></button>
            
            <button title="Done" ng-show="task.active == 'false'" ng-click="taskProgress(task,'done')" class="btn btn-success btn-just-icon">
              <i class="material-icons">done</i>
            </button>
          </div>
          <br>

        </div>
        <div class="row hidden-sm hidden-md hidden-lg">
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
