<link rel="stylesheet" href="../css/bootstrap.css">
<meta charset="utf-8">
<div class="container">
  <form action="">
    <fieldset>
      <legend>Informações do usuário</legend>
      <div class="form-group">
        <label for="nome">Description</label>
        <input id="nome" class="form-control" type="text" name="nome">
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span>
      Confirmar</button>
  </form>
</div>
