<fieldset data-ng-controller="TaskController">
  <h2>New Task</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="md-form">
        <label for="taskId">ID</label>
        <input id="taskId" type="text" class="form-control" name="id" data-ng-model="newTask.id">
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form">
        <label for="taskDescription">Description New Task</label>
        <input id="taskDescription" type="text" class="form-control"
          name="description" data-ng-model="newTask.description">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" data-ng-click="addTask()">
    Add Task
  </button>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="md-form">
        <label for="search">Search</label>
        <input id="search" data-ng-model="search"
          class="form-control" type="text" name="search" autocomplete="off">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="text-md-center">
          <tr ng-repeat="task in tasks | filter:search">
            <td>{{task.id}}</td>
            <td>{{task.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
